/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import 'landing/landing-page.scss';
@import 'simple-line-icons/css/simple-line-icons.scss';

.item {
  display: flex;
  flex-direction: 'horizontal';

  .react-json-view {
    flex-basis: 50%;
  }
}

.chart-container {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.chart-container > div {
  flex-basis: 50%;
}

.chart-list-container {
  flex-basis: 50%
}

.chart-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chart-list-header {
  font-size: 26px;
}

.chart-list-item {
  font-size: 22px;
}
